.logo {
  height: 115px;
  width: 1184px;
}

.notification {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.notification:hover {
  background-color: #1565c0;
}

.kle {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.dashboard-icon {
  height: 35px;
  width: 35px;
}
