
.klelogo{
    height: 115px;
    width: 1184px;
}

.collegeImage{
    height: 200px;
    width: 100%;
    
}
.cardImage{
    height:200px;
    width:200px;
    align-self: center;
    margin: inherit;
}

.kle{
    height: 100px;
}

.dashboard-icon{
    height: 35px;
    width: 35px;
}

